.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**********************************/

@font-face {
  font-family: poppins-semibold;
  src: url(Fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Dynalight-Regular;
  src: url(Fonts/Dynalight-Regular.ttf);
}
.outer-container{
  background-color: #FF5A54;
  margin: 20px;
  border-radius: 10px;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 100px;
  padding-right: 100px;
}
.h3-header{
  font-family: poppins-semibold;
  margin-top: 15px;
}
.normal-para
{
  font-family: poppins-regular; 
  font-size: 13px;
}
.normal-para1
{
  font-family: poppins-regular; 
  font-size: 13px;
  margin-top: 15px;  
}
.inner-container
{
  border-radius: 10px;
}
.left-col
{
  background-color: #FFA39A;
  padding-left: 40px!important;
  padding-right: 40px!important;
  padding-top: 40px!important;
  padding-bottom: 40px!important;
}
.right-col
{
  background-color:#ffffff;
  padding-left: 80px!important;
  padding-right: 80px!important;
  padding-top: 90px!important;
  padding-bottom: 70px!important;
}
.facebook-btn1
{
  font-size: 11px!important;
  font-weight: bold!important;
  background-color: #4373C0!important;
  padding: 10px!important;
  font-family: poppins-regular;
  width: 100%;
  margin-top: 18px;
  border-radius: 7px!important;
}
.facebook-btn
{
  font-size: 11px!important;
  font-weight: bold!important;
  background-color: #4373C0!important;
  padding: 10px!important;
  font-family: poppins-regular;
  width: 100%;
  margin-top: 18px;
  border-radius: 6px!important;
}
.google-btn1
{
  width: 100%;
  margin-top: 18px;
  border-radius: 7px!important;
  background-color: #ffffff!important;
  border-color: #CDCDCD!important;
  color: #000000!important;
  font-family: poppins-regular;
  font-weight: bold!important;
  font-size: 11px!important;
  padding: 12px!important;
}
.google-btn
{
  width: 100%;
  margin-top: 18px;
  border-radius: 7px!important;
  background-color: #ffffff!important;
  border-color: #CDCDCD!important;
  color: #000000!important;
  font-family: poppins-regular;
  font-weight: bold!important;
  font-size: 11px!important;
  padding: 12px!important;
}
.fb-icon
{
  color: #4373C0;
  margin-top: 4px;
}
.left-logo
{
  margin-top: 30px;
  margin-left: 20px;
}
.fb-div
{
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.gry
{
  color: #CDCDCD;
}
.org
{
  color: #FF5A54; 
  font-weight: bold;
}
.username-input
{
  width: 100%;
  padding: 9px 15px 10px 40px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.username-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.mobile-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.mobile-input
{
  width: 100%;
  padding: 9px 15px 10px 40px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.email-input
{
  width: 100%;
  padding: 9px 15px 10px 40px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.contactus-form
{
  padding: 20px;
  margin-bottom: 20px;
  margin-top: -107px;
  background-color: #fff;
  position: relative;
}
.contactus-send-message-title
{
  font-size: 25px;
  margin-bottom: 20px;
}
.contactus-name-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.contactus-email-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.contactus-message-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.contactus-name-input
{
  width: 100%;
  padding: 9px 15px 10px 10px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.contactus-email-input
{
  width: 100%;
  padding: 9px 15px 10px 10px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.contactus-message-input
{
  width: 100%;
  padding: 9px 15px 10px 10px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.DOB-input
{
  width: 100%;
  padding: 9px 15px 10px 40px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.DOB-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.icon-male-hide-show
{
  font-size: 20px!important;
  color: #F97071;
}
.icon-female-hide-show
{
  font-size: 20px!important;
  color: #F97071;
}
.male-checkbox
{
  margin: 10px;
}
.female-checkbox
{
  margin: 10px;
}
.filter-hide-show-wrapper
{
  margin-bottom: 20px;
}
.hidden
{
  display: none;
}
.filter-btn
{
  background-color: #F7F7F7!important;
  border: 0px!important;
}
.gender-input
{
  margin-right: 5px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.gender
{
  margin-left: 15px;
}
.right-logo
{
  margin-bottom: 20px!important;
}
.email-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
/* .email-div
{
  width: 30px;
  height: 39px;
  background-color: #fff !important;
  position: absolute;
  top: 24px;
  border: solid 2px #CDCDCD;
  border-radius: 6px;
}  */
.password-input:focus
{
  border: solid 2px #FF5A54; 
}
.password-input
{
  margin-top: 5px;
  border-radius: 6px;
  padding: 9px 15px 10px 40px;
  border: solid 2px #CDCDCD;
  width: 100%;
}
.password-input:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.line
{
  margin-top: 200px;
}
.home-img
{
  height: auto;
  max-width: 100%;
  margin-top: 50px;
}
.agree-para
{
  font-size: 13px;
  margin-top: 18px;
  font-family: poppins-regular;
}
.register-btn
{
  background-color: #FF5A54!important;
  border: none!important;
  width: 100%;
  margin-top: 17px;
  padding: 10px!important;
  border-radius: 7px!important;
  font-family: poppins-regular;
  font-size: 13px!important;
  box-shadow: 0px 9px 20px 0px #ffa39a;
}
.signup-btn
{
  background-color: #FF5A54!important;
  border: none!important;
  width: 100%;
  margin-top: 17px;
  padding: 10px!important;
  border-radius: 7px!important;
  font-family: poppins-regular;
  font-size: 13px!important;
  box-shadow: 0px 9px 20px 0px #ffa39a;
}
.gender-radio
{
  margin-top: 10px;
  margin-left: -16px;
  margin-bottom: 20px;
}
input[type="radio"]:checked:after
{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #F97071;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.email-container
{
  font-family: poppins-regular;
  font-size: 13px;
  position: relative;
  margin-top: 10px;
}
.DOB-container
{
  font-family: poppins-regular;
  font-size: 13px;
  position: relative;
  margin-top: 10px;
  margin-bottom: -23px;
}
.gender-container
{
  font-family: poppins-regular;
  font-size: 13px;
  position: relative;
  margin-top: 10px;
}
.password-container
{
  font-family: poppins-regular;
  font-size: 13px;
  margin-top: 18px;
  position: relative;
}
.email-icon
{
  padding: 19px!important;
  position: absolute;
  text-align: center;
}
.password-icon
{  
  position: absolute;
  padding: 19px!important;
  text-align: center;
}

/***********************************/

.gry-container
{
  background: rgb(247,247,247);
  background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(225,225,225,1) 100%);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.gry1-container
{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.menubar
{
  font-size:12px;
  font-family: poppins-regular;
  margin-left: 160px;
}
.menubar1
{
  font-size:12px;
  margin-right: 20px;
  margin-top:28px;
}
.link-clr
{
  color: #ADADAD!important;
  padding: 20px!important;
}
 .link-clr.active
{
  border: 1px solid transparent !important;
  border-bottom: 2px solid red !important;
  background-color: #f6f6f6!important;
  font-weight: bold !important;
  color: #000000!important;
  } 
.link-clr:focus
{
  border-bottom: solid 2px red!important;
  color: #000000!important;
  font-weight: bold !important;
}
.menu-padding
{
  padding-left: 50px;
  padding-right:50px;
}
.hr-top
{
  margin-top: -9px!important;
  border: solid 0.1px #adadad;
}
.hr-top1
{
  margin-top: 15px!important;
  border: solid 0.1px #adadad;
}
.location-container
{
  display: inline-block;
}
.contactus-address-wrapper
{
  display: inline;
  margin-top: 8px;
  float: left;
}
.contactus-title
{
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  margin-left: 50px;
  font-family: poppins-regular;
  display: inline-block;
  margin-bottom: 40px;
}
.textarea-message
{
  width: 100%;
  padding: 9px 15px 10px 10px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  margin-top: 5px;
}
.first-user
{
  height: 200px;
  width: 200px;
  position: relative;
  left: -19px;
  top: -29px;
  border-radius: 0px 0px 100px 0px;
}
.second-user
{
  border-radius:0px 0px 0px 87px;
  height: 160px;
  width: 160px;
  position: relative;
  left: -10px;
  top: -18px;
}
.third-user
{
  border-radius:0px 0px 121px 104px;
  height: 130px;
  width: 130px;
  position: relative;
  left: -2px;
  top: -10px;
}
.fourth-user
{
  border-radius:0px 0px 55px 68px;
  height: 120px;
  width: 120px;
  position: relative;
  left: -9px;
  top: -10px;
}
.first-user-container
{
  background-color: #00B374;
  width: 170px;
  height: 170px;
  margin-left: 312px;
  margin-top: -225px;
  position: relative;
  border-radius: 90px 90px 90px 0px;
}
.second-user-container
{
  background-color: #00AADC;
  width: 140px;
  height: 140px;
  margin-left: 133px;
  margin-top: -39px;
  position: relative;
  border-radius: 70px 70px 0px 70px;
}
.third-user-container
{
  background-color: #DE004B;
  width: 120px;
  height: 120px;
  margin-left: 355px;
  margin-top: -104px;
  position: relative;
  border-radius: 60px 0px 60px 60px;
}
.fourth-user-container
{
  background-color: #E9AE00;
  width: 110px;
  height: 110px;
  position: relative;  
  margin-left: 215px;
  margin-top: -48px;
  border-radius: 0px 60px 60px 60px;
}
.heart-img
{
  height: 70px;
  position: relative;
  top: -127px;  
  left: 211px;
}
.wave-wrapper
{
  width: 80px;
  border-radius: 60px 60px 60px 60px;
  height: 50px;
  text-align: center;
  padding-top: 5px; 
  font-size: 25px;
  position: relative;
  background-color: #eeeeee;
  z-index: 1;
  left: 296px;  
  top: -32px;
}
.imoji2-img
{
  position: relative;
  height: 38px;
  left: 328px;
  top: 53px;
}
.textarea-message:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.contactus-header
{
  height: 250px;
  position: relative;
  font-family: poppins-regular;
  background-color:#F97071;
  margin-top: 30px;
}
.contactus-body-part
{
  background-color: #f7f7f7;
  padding: 50px;
  height: 400px;
}
.contactus-email-wrapper
{
  margin-top: 8px;
  display: inline;
  float: left;
}
.contactus-left-container
{
  margin-left: 40px;
}
.contactus-email-container
{
  padding: 10px;
  border-radius: 50px;
  height: 40px;
  display: inline;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  text-align: center;
  width: 40px;
}
.icon-location
{
  color: #F97071;
  vertical-align: super;
  margin-top: 2px;
}
.contactus-address
{
  font-size: 13px;
  color: #efeeee;
}
.contactus-address-label
{
  font-weight: bold;
  color: #fff;
}
.contactus-email-label
{
  font-weight: bold;
  color: #fff;
}
.contactus-email
{
  color: #efeeee;
  font-size: 13px;
}
.icon-contactus-email
{
  vertical-align: super;
  color: #F97071;
  margin-top: 2px;
}
.contactus-left-address-wrapper
{
  margin-left: 30px;
}
.contactus-right-email-wrapper
{
  margin-left: -300px;
}
.location-container
{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  height: 40px;
  width: 40px;
  display: inline;
  float: left;
}
 .hr-top2
{
  margin-top: -40px!important;
  border: solid 0.1px #adadad;
}
.body-part
{
  padding-left: 50px;
  padding-right:50px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 320px);
  font-family: poppins-regular;
}
.select-date
{
  color: #ADADAD!important;
  font-size: 12px!important;
  margin-left: 30px;
}
.any-date
{
  z-index: 1;
  margin-top: 11px;
  text-align: center; 
}
.select-date1
{
  /* margin-top: -18px; */
  color: #ADADAD!important;
  margin-left: -20px;
  font-size: 12px!important;
}
.any-date-para
{
  /* margin-top: -40px; */
  font-size: 13px!important;
  color:#000000;
  font-weight: bold;
}
.select-menu
{
  background-color: #F7F7F7!important;
  border: none!important;
  color: #ADADAD!important;
  font-size: 12px!important;
  padding-right: 20px!important;
}
.select-menu:focus
{
  box-shadow: none!important;
}
.black-para
{
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  margin-left: 25px;
}
.select-menu::after
{
  margin-left: 2.255em!important;
  margin-top: 2px;
}
.border-right
{
  border-right: 1px solid #ADADAD;
}
.border-right1
{
  border-right: 1px solid #ADADAD;
  max-height: 60px;
  flex: 1;
}
.go-btn
{
  background-color: #F97071!important;
  border: 0px!important;
  font-size: 11px!important;
  height: 39px;
  margin-top: 10px;
  padding-left: 17px!important;
  padding-right: 17px!important;
  border-radius: 7px!important;
}
.icon-search
{
  font-size: 9px!important;
}
.border-box
{
  display: flex;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  box-shadow: 1px 1px 19px -5px #ADADAD;
}
.sort-btn
{
  background-color: #F7F7F7!important;
  border: 0px!important;
}
.sort-btn:focus
{
  box-shadow: none!important;
}
.icon-slider
{
  color: #000000!important;
}
.filter-div
{
  border-right: 1px solid #ADADAD;
  display: flex;
  margin-right:10px;
  padding-left: 10px;
  padding-right: 10px;
}
.icon-slider-happyuser
{
  color: #000000!important;
  font-size: 30px!important;
}
.filter-happyuser
{
  float: right;
  margin-top: 25px;
}
.dropdown1
{
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: solid 0.1px #adadad;
  padding-left: 5px;
  padding-right: 8px;
}
.dropdown2
{
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent!important;
}

.days-dropdown button
{
  background-color: transparent!important;
  border-color: transparent!important;
  color: #000000!important;
  font-size: 13px!important;
  font-weight: bold !important;
  margin-left: 25px;
  margin-top: -40px;
  padding: 0 !important;
}
.dropdown-item:hover
{
  background: rgba(226, 134, 58, 0.1)!important;
}
.dropdown-item:active
{
  background-color: #F97071!important;
}
.react-datepicker__day:hover
{
  background: rgba(226, 134, 58, 0.1)!important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected
{
  background-color: #F97071!important;
}
.react-datepicker__day--selected
{
  background-color: #F97071!important;
}
.error-msg
{
  color: red;
  margin-top: 10px;
  font-family: poppins-regular;
  font-size: 12px;
  margin-bottom: 20px;
}
.errormsg
{
  color: red;
  margin-top: 20px;
  font-family: poppins-regular;
  font-size: 15px;
}
.days-dropdown button:focus
{
  box-shadow: none!important;
}
.days-dropdown
{
  margin-bottom: -100px !important;
}
.days-dropdown button::after
{
  border: 0px!important;
}

.dropdown3
{
  padding-left: 5px;
  padding-right: 8px;
  border-right: solid 0.1px #adadad;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-items
{
  font-size: 15px!important;
}
.day-yr
{
  font-size: 15px;
  margin-top: 10px;
  display: inline-block;
}
.date
{ 
  font-size: 47px;
  margin-left: 18px;
  display: inline-block;
}
.weather
{
  display: flex;
  margin-left: 20px;
}
.temp
{
  font-size: 30px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 7px;
}
.cloud-img
{
  width: 45px;
  height: 35px;
  margin-top: 13px;
}
.degree
{
  font-size: 20px;
}
.city
{
  margin-top: 10px;
}
.city-card
{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #cdcdcd;
  margin-top: 40px;
}
.city-name
{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:220px;
}
.tour-date
{
  margin-bottom: 3px;
  font-size: 12px;
}
.category
{
  font-size: 11px;
  color: #ADADAD;
}
.avg-temp
{
  font-size: 12px;
  margin-top: 35px;
  margin-bottom: 10px;
}
.city-temp
{
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tl-price
{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #ADADAD;
}
.price
{
  font-size: 18px;
  font-weight: bold;
}
.city-img
{
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.border-bot
{
  border-bottom: 2px solid #000000;
}
.icon-bookmark-o
{
  float: right;
  margin-top: -25px;
  cursor: pointer;
}
.icon-bookmark
{
  cursor: pointer;
  float: right;
  margin-top: -25px;
  color: #F97071;
}
.explore-btn
{
  background-color: #ffffff!important;
  border: 1px solid #ADADAD!important;
  border-radius: 10px!important;
  color: #000000!important;
  font-size: 13px!important;
  padding-left: 20px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-right: 20px!important;
  margin-top: 25px!important;
  float: right;
}
.explore-btn:hover
{
  background-color: #000000!important;
  color: #ffffff!important;
}
.right-header
{
  display: flex;
  float: right;
  margin-right: 50px;
  font-family: poppins-regular;
}
.icon-bookmark1
{
  margin-top: 28px!important;
  font-size: 18px!important;
}
.avatar-img
{
  border-radius:50px;
  height: 30px;
  width: 30px;
  margin-top: -0.5px;
  }
.profile
{
  border-radius:50px;
  height: 35px;
  width: 35px;
  margin-top: 17px;
  border: 3px solid red;
  position: relative;
}
.signup-link
{
  text-decoration: underline;
  color: #F97071;  
}
.signup-link:hover
{
  text-decoration: underline;
  color: #F97071;  
}

.signup-form-container
{
  margin-top: 30px;
}
.contactus-logo
{
  margin-left: 45px;
  margin-top: 25px;
}
.trip-logo
{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: -50px;
  margin-top: -30px;
}
.your-word
{
  display: inline;
  position: absolute;
  color: #1d057b;
}
.your
{
  font-family: Dynalight-Regular;
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
}
.style-div
{
  display: inline-block;
  background-color: #EB2226;
  border-radius: 10px;
  height: 44px;
  width: 62px;
  position: relative;
  left: 114px;
  color: #1d057b;
  top: 13px;
}
.DOB-datepicker
{
  margin-top: 30px;
  display: block;
  padding: 5px 5px 5px 5px;
  width: 100%!important;
  font-size: 14px;
  height: 40px;
  border-radius: 6px;
  border: solid 2px #CDCDCD;
  text-align: center;
}
.react-tel-input .form-control
{
width: 100%!important;
border-radius: 6px!important;
border: solid 2px #CDCDCD!important;
height: 40px!important;
}
.react-tel-input
{
  margin-top: 10px!important;
}
.form-control:focus
{
box-shadow: none!important;
border:  2px solid #FF5A54 !important; 
outline: none!important;
}
.DOB-datepicker:focus
{
  border:  2px solid #FF5A54 !important; 
  outline: none!important;
}
.datepicker
{
  border: none;
  background-color: transparent;
  /* width: 80%; */
  position: relative;
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
  /* margin-left: 39px; */
  display: inline-block;
  height: 36px;
  z-index: 5;
  text-align: center;
}
.datepicker:focus
{
  cursor: none!important;
  outline: none!important;
}
.icon-sort
{
  margin-left: 26px;
  color: #ADADAD!important;
  font-size: 10px!important;
}
.all-place-para
{
  margin-top: 12px;
  margin-left: 24px;
  color: #ADADAD!important;
  font-size: 12px!important;
}
.select-place-para
{
  margin-top: -40px;
  font-size: 13px!important;
  color:#000000;
  font-weight: bold;
}
.react-tel-input .country-list .country:hover
{
  background: rgba(226, 134, 58, 0.1)!important;
}
.react-tel-input .country-list .country.highlight
{
  background-color: #F97071!important;
  color: #fff!important;
}
.select-dropdown
{
  display: inline-block;
  border-right: 1px solid #ADADAD;
  padding-right: 20px;
  flex: 1;
}
.city-list
{
  display: flex;
  margin-left: 10px;
}
.icon-sort1
{
  margin-left: -25px;
  margin-top: -14px;
  color: #ADADAD!important;
  font-size: 10px!important;
}
.icon-sort2
{
  margin-left: 140px;
  margin-top: 63px;
  color: #ADADAD!important;
  font-size: 10px!important;
}
.profile-logout button
{
  border-radius: 50px!important;
  height: 32px;
  width: 32px;
  margin-top: -57px;
  margin-left: -3px;
  background-color: transparent!important;
  border: none!important;
}
.profile-logout button::after
{
  border: none!important;
}
.profile-logout button:focus
{
  box-shadow: none!important;
}
.profile-logout .dropdown-menu
{
  padding: 0.5px !important;
  font-size: 14px !important;
}
.month
{
  display: inline-block;
  font-size: 13px;
}
.d-m-y
{
  display: inline-block;
  margin-left: 10px;
}

.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color:#CDCDCD;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: #CDCDCD;
    width: 350px;
    height:1px;
}
.or::before
{
  margin-right: 10px;
}
.or::after
{
  margin-left: 10px;
}

.react-datepicker-wrapper{
  position: relative;
  top: -25px;
  width: 100%;
}
.happy-user-title
{
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 40px;
}
.user-info-container
{
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 15px;
  flex-wrap: nowrap;
  flex-direction: row;
  box-shadow: 0px 0px 8px 0px #cdcdcd;
  margin-bottom: 15px;
  display: flex;
  padding: 15px;
}
.sup-data
{
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  background-color: #F97071;
  padding: 3px;
  height: 23px;
  margin-left: -5px;
  text-align: center;
  width: 23px;
  color: #ffffff;
  border-radius: 50%;
}
.user-profile-img
{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.bold
{
  font-weight: bold;
}
.label
{
 color: #CDCDCD;
 font-size: 14px; 
 margin-bottom: 5px;
}
.user-profile
{
  flex: 5%;
  margin-right: 10px;
}
.user-name
{  
  margin-left: 10px;
  margin-right: 10px;
  flex: 18%;
}
.gender-info
{
  margin-left: 10px;
  margin-right: 10px;
  flex: 7%;
}
.DOB-info
{
  margin-left: 10px;
  margin-right: 10px;
 flex: 13%;
}
.email-info
{
  margin-left: 10px;
  margin-right: 10px;
 flex: 28%;
}
.city-info
{
  margin-left: 10px;
  margin-right: 10px;
  flex: 23%;
}
.icon-envelope
{
  font-size:25px!important;
  color: #F97071;
  padding-right: 10px;
  margin-top: -5px;
  vertical-align: middle;
}
.icon-phone
{
  margin-top: -5px;
  color: #F97071;
  vertical-align: middle;
  font-size:25px!important;
  padding-right: 10px;
}
.user-email
{
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 180px;
}
.loader1
{
  background-color: #F97071;
  color: #ffffff;
  padding: 30px;
  font-family: poppins-regular;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
}
.icon-female
{
  font-size: 30px!important;
  color: #F97071;
}
.icon-male
{
  color: #F97071;
  font-size: 30px!important;
}
@media (max-width: 1245px)
{
  .contactus-right-email-wrapper
  {
    margin-left: -250px;
  }
}
@media (max-width: 1138px)
{
  .contactus-right-email-wrapper
  {
    margin-left: -150px;
  }
}
@media (max-width: 950px)
{
  .contactus-right-email-wrapper
  {
    margin-left: -100px;
  }
  .contactus-body-part
  {
    height: 398px;
  }
}
@media (max-width: 841px)
{
  .contactus-right-email-wrapper
  {
    margin-left: 30px;
  }
  .contactus-header {
    height: 300px;
  }
}
@media (max-width: 1100px)
{
  .contactus-right-container
  {
    display: none;
  }
}
@media (max-width: 992px)
{
  .date
{ 
  font-size: 35px;
  display: inline-block;
  line-height: 40px;
}
.day-yr
{
  font-size: 11px;
  margin-top: 10px;
  display: inline-block;
}
.month
{
  display: inline-block;
  font-size: 11px;
}
}
@media (max-width: 768px)
{
  .explore-btn{
    float: left;
    margin-top: 10px!important;
  }
  .user-info-container{
    flex-direction: column;
  }
}
@media (max-width: 576px)
{
  .outer-container{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    border-radius: 0px;
    min-height: 100vh;
  }
  .contactus-body-part
{
  padding: 10px;
  height: 398px;
}
.trip-logo
{
  margin-top: 0px;
}
.contactus-form {
  margin-top: -64px;
}
.contactus-left-container {
  margin-left: 0px;
}
  .gry1-container
  {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .right-col
{
  padding-left: 30px!important;
  padding-right: 30px!important;
  padding-top: 35px!important;
  padding-bottom: 25px!important;
}
.date
{ 
  font-size: 30px;
  margin-left: -8px;
  display: inline-block;
  line-height: 40px;
}
.day-yr
{
  font-size: 11px;
  margin-top: 10px;
  display: inline-block;
}
.month
{
  display: inline-block;
  font-size: 11px;
}
.cloud-img {
  width: 25px;
  height: 20px;
  margin-top: 15px;
}
.temp {
  font-size: 25px;
  padding-left: 13px;
  padding-right: 13px;

}
.city {
  margin-top: 7px;
  font-size: 13px;
}
.gry-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.weather {
  display: flex;
  margin-left: -10px;
  margin-top: 5px;
}

}
